<div class="mainList">
  <div class="userInformation">
    <span id="userName">{{userName}}</span>

  </div>
  <div id="scrollableBlock">
    <div class="basicCategories">
      <ul class="defaultLinksList">
        <li (click)="goTo(0,'all')" class="defaultLinkItem">
          <span class="material-icons menuIcon"> assignment </span>
          <a class="leftDefaultLink">All</a>
        </li>
        <li (click)="goTo(0,'today')" class="defaultLinkItem">
          <span class="material-icons menuIcon"> today </span>
          <a class="leftDefaultLink">Today</a>
        </li>
        <li (click)="goTo(0,'week')" class="defaultLinkItem">
          <span class="material-icons menuIcon"> next_week </span>
          <a class="leftDefaultLink">Next week</a>
        </li>

        <li (click)="goTo(0,'calendar')" class="defaultLinkItem">
          <span class="material-icons menuIcon"> calendar_today </span>
          <a class="leftDefaultLink">Calendar</a>
        </li>


        <li class="defaultLinkItem">
          <div class="userFoldersBlock">

          </div>
        </li>

        <li (click)="goTo(0,'completed')" class="defaultLinkItem">
        <span class="material-icons menuIcon"> check_circle
 </span>
          <a class="leftDefaultLink">Completed</a>
        </li>
        <li (click)="goTo(0,'trash')" class="defaultLinkItem">
          <span class="material-icons menuIcon"> restore_from_trash </span>
          <a class="leftDefaultLink">Trash</a>
        </li>
      </ul>
    </div>
    <div class="basicCategories foldersBlock">
      <ul class="defaultLinksList foldersList">
        <li *ngFor="let l of folders" class="defaultLinkItem folderItem">
          <app-folder [folder]="l"></app-folder>
          <!--        <a class="leftDefaultLink" href="#">{{l.name}}</a>-->
        </li>
        <li (click)="addFolderClick()" class="new-folder-item defaultLinkItem folderItem ">
          <span  class="new-folder-span">New folder</span>
         </li>
      </ul>
    </div>
    <div class="logoutBlock">
      <button class="btn btn-danger logoutBut" (click)="logout()">Log out</button>

    </div>
   </div>

</div>

