<div class="mainList">
  <div class="userInformation">
    <span id="userName">Vasya zdendyak</span>
  </div>
  <div class="basicCategories">
    <ul class="defaultLinksList">
      <li class="defaultLinkItem">
        <a class="leftDefaultLink" href="#">All</a>
      </li>
      <li class="defaultLinkItem">
        <a class="leftDefaultLink" href="#">Today</a>
      </li>
      <li class="defaultLinkItem">
        <a class="leftDefaultLink" href="#">Next 7 days</a>
      </li>

      <li class="defaultLinkItem">
        <a class="leftDefaultLink" href="#">Calendar</a>
      </li>
      <li class="defaultLinkItem">
        <a class="leftDefaultLink" href="#">Inbox</a>
      </li>

      <li class="defaultLinkItem">
        <div class="userFoldersBlock">

        </div>
      </li>

      <li class="defaultLinkItem">
        <a class="leftDefaultLink" href="#">Completed</a>
      </li>
      <li class="defaultLinkItem">
        <a class="leftDefaultLink" href="#">Trash</a>
      </li>
    </ul>
  </div>
  <div class="basicCategories foldersBlock">
    <ul class="defaultLinksList foldersList">
      <li class="defaultLinkItem folderItem">
        <a class="leftDefaultLink" href="#">Folder 1</a>
      </li>
      <li class="defaultLinkItem folderItem">
        <a class="leftDefaultLink" href="#">Folder 2</a>
      </li>
      <li class="defaultLinkItem folderItem">
        <a class="leftDefaultLink" href="#">Folder 3</a>
      </li>
    </ul>
  </div>
</div>

