.defaultLinkItem {
  font-size: 14px;
  margin: 3px 8px;
  padding: 7px 0px 7px 15px;
  border-radius: 6px;
}

.defaultLinkItem:hover {
  background-color: #4f8ad6;  cursor: pointer;
}

.basicCategories {
  border-bottom: inset;
  border-width: thin;
}

#userName {
  font-size: 14pt;
}

.defaultLinksList {
  list-style: none;
  padding: 0;
}

.leftDefaultLink {
  color: #ffffffeb;
  text-decoration: none;
}

.mainList {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.userInformation {
  text-shadow: 2px 2px 1px #000000;
  color: white;
  border-radius: 7px;
  text-align: center;
  margin: 15px auto;
  font-weight: 500;
  display: list-item;
  padding: 7px;
  /* background: linear-gradient(22deg, #4689ca75, #c98bd0); */
  list-style: none;
  background-color: #6d91f1;
  width: 82%;
}

.userFoldersBlock {

}
.menuIcon{
  position: relative;
  top: 6px;
  padding-right: 10px;
  color: white;
}
