
.leftDefaultLink {
  color: #ffffffeb;
  text-decoration: none;
}
.listItem{
  padding-left: 10px;
  list-style: none;
  padding-bottom: 4px;
}

.listOfLists{
  padding-left: 30px;
  padding-top: 5px;
}

.listItem:hover{
  background-color: #3d6ead;  cursor: pointer;
  border-radius: 4px;
}
.folderIcon{
  top: 6px;
  padding-right: 7px;
  color: #ffffff;
  position: relative;
  font-size: 20pt;
}
.expandIcon{
  float: right;
  color: white;
  position: relative;
  top: 5px;
}
