.menuBlock {
  background-color: #68d1ff;
  width: 18%;
}

.taskListBlock {
  width: 50%;
}

.taskDetailBlock {
  width: 30%;
}

.mainWindow {
  display: flex;
  justify-content: space-between;
}

.block {
  /*margin: 5px;*/
}
