.menuBlock {
  background-color: #68d1ff;
  width: 18%;
}

.taskListBlock {
  width: 50%;
}

.taskDetailBlock {
  width: 30%;
  border-left: groove;
  /* margin-left: -3px; */
  /*padding-left: 10px;*/
}

.mainWindow {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.block {
  /*margin: 5px;*/
}
