.menuBlock {
  /*background-color: #d281ff;*/
  /*background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.1, rgb(96, 135, 218)), color-stop(0.7, rgb(41, 96, 165)), color-stop(0.96, rgb(49, 86, 197)));*/
  background-color: #5566c5;
  width: 18%;
  min-width: 12rem;
}


.taskListBlock {
  width: 50%;
  min-width: 25rem;
}

.taskDetailBlock {
  width:  62vh;
  border-left: outset;
}

.mainWindow {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.block {
}

#menuScrollStyle::-webkit-scrollbar {
  width: 6px;
 }

#menuScrollStyle::-webkit-scrollbar-track {
   background-color: transparent;
  border-radius: 10px;
}

#menuScrollStyle::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #1b3782;;
}
