#itemDate {
  font-size: 13pt;
}

#itemName {
  font-size: 14pt;
  font-weight: 500;
}

.mainContent {
  height: 100%;
}

.upContent {
  border-bottom: outset;
border-bottom-style: inset;
  padding: 25px 20px;
  height: 5%;
  display: flex;
}

.infoContent {
  padding: 20px 20px;
  height: 70%;
}

.footerContent {
  height: 5%;
  border-top: outset;
  padding: 10px 0 0 10px;

}
#inputName{
  /*background-color: #ecececf5;*/
  outline: none;
  width: 90%;
  padding: 3px 10px;
  font-weight: 600;
  border: solid 2px transparent;
  font-size: 20px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
#inputDescription{
  border: solid 2px transparent;
  /*background-color: #ecececf5;*/
  font-size: 14px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  text-overflow: ellipsis;
  outline: none;
  margin-top: 10px;
  margin-left: 10px;
  width: 88%;
}
.unDoneButton{
  display: block;
  width: 60%;
  height: 56%;
  border: solid 2px;
  /* margin: 7px auto; */
  margin: 15px 0px 0px 1px;
  border-color: #848484;
  border-radius: 5px;
}
.DoneButton{
  display: block;
  width: 60%;
  height: 56%;
  border: solid 2px;
  margin: 15px 0px 0px 1px;
  border-color: #848484;
  border-radius: 5px;
  background-color: #969696db;
}
.stateButtonBlock{
  width: 8%;
  margin-right: 5px;
}

.datePickerBlock{
  color: #0000c5;
}
#chooseDateForm{
  font-weight: 450;
}
#doneIcon{
  color: white;
  margin-left: 1.2px;
}
