#itemDate {
  font-size: 13pt;
}

#itemName {
  font-size: 14pt;
  font-weight: 500;
}

.mainContent {
  height: 100%;
}

.upContent {
  border-bottom: outset;
  border-bottom-style: inset;
  padding: 3% 3%;
  max-height: 12%;
  display: flex;
  justify-content: space-between;
}

.infoContent {
  padding: 5% 5%;
  height: 70vh;
}

.footerContent {
  height: 5%;
  border-top: outset;
  padding: 10px 0 0 10px;

}

#inputName {
  /*background-color: #ecececf5;*/
  outline: none;
  width: 90%;
  padding: 3px 10px;
  font-weight: 600;
  border: solid 2px transparent;
  font-size: 20px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

#inputReason {
  outline: none;
  width: 71%;
  padding: 3px 10px;
  float: right;
  text-align: center;
  font-weight: 400;
  border: solid 2px #ff5722;
  font-size: 20px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin-top: 4.9px;
  border-radius: 8px;
}

#inputDescription {
  border: solid 2px transparent;
  /*background-color: #ecececf5;*/
  font-size: 14px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  text-overflow: ellipsis;
  outline: none;
  margin-top: 10px;
  margin-left: 10px;
  width: 88%;
}

.unDoneButton {
  display: block;
  width: 25px;
  height: 23px;
  border: solid 1px #9b9ea2;
  margin: 20px 5px 0px 1px;
  border-radius: 3px;
}

.DoneButton {
  display: block;
  width: 25px;
  height: 23px;
  border: solid 1px #9b9ea2;
  margin: 20px 5px 0px 1px;
  border-radius: 3px;
  background-color: #295c9e66;
}

.stateButtonBlock {
  max-width: 11vw;
}

.datePickerBlock {
  color: #0000c5;
  width: 100%;
  font-size: 95%;
}

#chooseDateForm {
  font-weight: 450;
  width: 100%;
  height: 5vh;
}

#doneIcon {
  color: white;
  margin-left: 1.2px;
}
.dateAndButtonBlock{
  display: flex;
  width: 45%;
}
