<div *ngIf="item!=undefined" class="mainContent">
  <div class="upContent">
    <div class="stateButtonBlock">
      <span (click)="doneButton()" [ngClass]="{DoneButton: item.isDone, unDoneButton: !item.isDone}">
        <span class="material-icons" id="doneIcon">done</span>
      </span>
    </div>
    <div class="datePickerBlock">
      <mat-form-field id="chooseDateForm">
        <mat-label>Expire date</mat-label>
        <input [(ngModel)]="date" [formControl]="date2" [matDatepicker]="dp" (focusout)="reloadItem()" matInput>
        <mat-datepicker-toggle [for]="dp" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #dp  [disabled]="false" color="primary" (closed)="reloadItem()"></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
  <div class="infoContent">
    <!--    <span id="itemName">{{item.name}}</span>-->
    <div class="nameBlock">
      <input (keyup)="reloadItem()" [(ngModel)]="item.name"
             id="inputName"
             placeholder="Enter title"
             type="text">
    </div>

    <div class="descriptionBlock">
      <textarea (keyup)="reloadItem()"
                [(ngModel)]="item.description"
                id="inputDescription"
                matInput placeholder="Enter item description"></textarea>
    </div>

  </div>
  <div class="footerContent">
    <span>Footer text</span>
  </div>
</div>

