.mainContent{
  height: 100%;
  background-color: #a1c4ff;
}
.loginText{
  margin-bottom: 6%;
}
.loginForm{
  width: 25%;
  margin: 0% auto;
  padding: 2%;
  background-color: white;
  border-radius: 15px;
  position: relative;
  top: 9rem;
}

#emailForm{

}
#passwordForm{

}
.submitButton{
  width: 40%;
}
.buttonsBlock{
  display: flex;
  margin-top: 30px;
  justify-content: space-around;
}
