.listIcon{
  top: 6px;
  padding-right: 7px;
  position: relative;
}
.mainContent{
  color: #eef1f7;
  height: 100%;
 }
.mainContent:hover{
  /*background-color: red*/
}
.context-menu {
  position: absolute;
  display: none;
}
.context-active {
  display: block;
  position: absolute;
}
.myMenu{

}
