.mainContent{
height: 100%;
  overflow: auto;
  background-color: #a1c4ff;
}
.loginText{
  margin-bottom: 6%;
}
.loginForm{
  margin: 0% auto;
  padding: 3vh;
  background-color: white;
  border-radius: 15px;
  position: relative;
  top: 20vh;
  max-height: 100vh;
  max-width: 41vh;
}

#emailForm{

}
#passwordForm{

}
.submitButton{
  width: 16vh;
  /* height: 6vh; */
  font-size: 15px;
  padding: 10px;
}
.buttonsBlock{
  display: flex;
  margin-top: 30px;
  justify-content: space-around;
}
.text{
  font-size: 12px;
  text-align: center;
}
