.task {
  border-bottom: groove;
  border-bottom-width: medium;
  /* border: groove; */
  padding: 10px 10px;
  margin-top: 2px;
  border-radius: 5px;
  font-size: 11pt;
}

.task:hover {
  background-color: #cccccc5c;
  cursor: pointer;
}

.taskDate {
  float: right;
  margin-right: 10px;

}

.taskName {
  margin-left: 10px;
}

.itemList {
  list-style: none;
  padding-left: 0;
}

.activeItem {
  background-color: #cae0fd;}

.activeItem:hover {
  background-color: #e2deff;
}

#categoryName {
  font-size: 20pt;
  font-weight: 500;
}

.headerContent {
  padding: 20px 0px 10px 20px;
}

.enterNameForm {

}

.enterNameInput {
  position: relative;
  height: 40px;
  border: none;
  width: 95%;
  padding-left: 12px;
  margin-top: 20px;
  border-radius: 6px;
  background-color: #ececec;
  font-size: 12pt;
}

.enterNameInput:focus {
  /*outline: none;*/
  border-radius: 6px;
}

.inputBlock {

}

.itemsBlock {
  overflow-y: hidden;
  height: calc(100vh - 15vh);
}

.itemsBlock:hover {
  overflow-y: scroll;
}

.itemsBlock::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

.itemsBlock::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
  border-radius: 10px;
}

.itemsBlock::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #b5b5b5;

}

.itemsBlock::-webkit-scrollbar-thumb:hover {
  background-color: gray;


}

.createItemField {

}

#deleteButton {
  float: right;
  color: #ff1d0cad;
  padding: 0px 10px;
}

#deleteButton:hover {
  color: red;

}
