.task {
  padding: 7px 10px;
  margin-top: 3px;
  border-radius: 5px;
  font-size: 11pt;
  border-bottom: solid;
  width: 100%;
  border-width: thin;
  border-color: #d0d0d0;
}

.task:hover {
  background-color: #cccccc5c;
  cursor: pointer;
}

.taskDate {
  float: right;
  margin-right: 10px;

}

.taskName {
  margin-left: 10px;
  /* margin-top: 43px; */
  /*position: relative;*/
  /*top: 4px;*/
}

.itemList {
  list-style: none;
  padding-left: 0;
}

.activeItem {
  background-color: #cae0fd;}

.activeItem:hover {
  background-color: #e2deff;
}

#categoryName {
  font-size: 20pt;
  font-weight: 500;
}

.headerContent {
  padding: 20px 0px 10px 20px;
}

.enterNameForm {

}

.enterNameInput {
  position: relative;
  height: 40px;
  border: none;
  width: 95%;
  padding-left: 12px;
  margin-top: 20px;
  border-radius: 6px;
  background-color: #ececec;
  font-size: 12pt;
}

.enterNameInput:focus {
  /*outline: none;*/
  border-radius: 6px;
}

.inputBlock {

}

.itemsBlock {
  overflow-y: hidden;
  height: calc(100vh - 15vh);
}

.itemsBlock:hover {
  overflow-y: scroll;
}

.itemsBlock::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

.itemsBlock::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
  border-radius: 10px;
}

.itemsBlock::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #b5b5b5;

}

.itemsBlock::-webkit-scrollbar-thumb:hover {
  background-color: gray;


}

.listName{
  float: right;
  margin-right: 10px;
  font-style: italic;
  color: #9e9e9e;
}
.deleteButton {
  float: right;
  color: #ff1d0cad;
  padding: 0px 10px;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

.deleteButton:hover {
  color: red;

}
.unDoneButton{
  width: 57%;
  height: 50%;
  border: solid 2px;
  /* margin: 7px auto; */
  margin: 10px 0px 0px 1px;
  border-color: #848484;
  border-radius: 5px;
}
.DoneButton{
  width: 57%;
  height: 50%;
  border: solid 2px;
  margin: 10px 0px 0px 1px;
  border-color: #848484;
  border-radius: 5px;
  background-color: #295c9e66;}
.stateButtonBlock{
  width: 5%;
  display: inline-flex;
}
.stateButtonBlock{
  cursor: pointer;
}


.expandMore{
  margin-left: 12px;
  color: #666666;
  position: relative;
  top: -2px;
}
.doneIcon{
  color: #464646;  margin-left: 0.7px;
  /* margin-bottom: -23.3px; */
  margin-top: -1.6px;
}
.liContent{
display: flex;
}
.liInsideContent{
  position: relative;
  top: 4px;
}
.itemsDivider{
  border-bottom: solid 2px #444444d1;
  color: #444444d1;
  font-weight: 500;
  margin-left: 5px;
}

.itemDividerWrapper:hover{
cursor: pointer;
}

.itemDividerWrapper{
  display: inline-flex;
  margin-top: 20px;
}
.completedList{

}
.notSelectable{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
